/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* Internet Explorer and Edge */
user-select: none; /* Standard syntax */
}

/* Score square styles */
.score-square {
  background-color: darkblue;
  color: white;
  font-size: 60px;
  padding: 10px 20px;
  min-width: 120px;
  min-height: 60px;
  border-radius: 8px;
  font-weight: bold;
  margin-bottom: 20px;
  border: 4px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Board and column styles */
.board {
  background-color: black;
  border: 5px solid #F4C206;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  max-width: 800px;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Answer box and related elements styles */
.answer-box {
  background-color: #0b3d91;
  border: 2px solid #f0f0f0;
  padding: 10px;
  margin: 2px;
  cursor: pointer;
  width: 300px;
  text-align: center;
  font-size: 24px;
  color: #f0f0f0;
  position: relative;
  border-radius: 3px;
  height: 28px;
  overflow: hidden;
}
.answer-box.hidden-answer::before {
  content: attr(data-number);
  border: 2px solid #f0f0f0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-weight: bold;
  color: #f0f0f0;
  background: #3E85DA;
  height: 46px;
  width: 318px;
}
.number-circle {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-family: impact;
  color: #f0f0f0;
  background-color: #1A1D59;
  border: 2px solid #4747c9;
  border-radius: 50%;
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.hidden-circle {
  display: none;
}
.answer-box .answer-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1; /* add this */
  animation: rollIn 0.3s forwards; /* add this */

}

.answer-box .answer-text::before {
content: "";
width: 100%;
height: 100%;
background-color: #0652B7;
position: absolute;
top: 0;
left: 0;
z-index: -1; /* add this */
}

.answer-box.hidden-answer .answer-text {
opacity: 0; /* add this */
animation: rollOut 0.3s forwards; /* add this */
}

@keyframes rollIn {
from { transform: translateY(100%); }
to { transform: translateY(0); }
}

@keyframes rollOut {
from { transform: translateY(0); }
to { transform: translateY(-100%); }
}

.answer-score {
height: 48px;
width: 40px;
display: flex;
align-items: center;
justify-content: center;
border: 2px solid white;
background: #3E85DA;
position: fixed;
font-weight: bold;
font-size: 26px;
right: -2px;
}

.answer-answer{
padding-right:40px;
font-size: 26px;
font-weight: bold;
font-stretch: condensed;
}

#x-img {
display: none;
position: fixed;
height: 200px;
top: 55%;
left: 50%;
transform: translate(-50%, -50%);
z-index:3;
}

/* Add these styles for the question text */
.question-text {
color: white;
font-size: 24px;
font-weight: bold;
margin-top: 20px;
text-align: center;
max-width: 600px;
}

.new-question {
display: block;
padding-top: 5px;
font-size: 18px;
font-weight: bold;
color: white;
background-color: #007bff;
border: none;
border-radius: 4px;
cursor: pointer;
}

.new-question:hover {
background-color: #0056b3;
}

.buttons-container {
display: flex;
justify-content: center;
gap: 20px;
margin-top: 20px;
}

.team-score{
position: absolute;
background: darkblue;
margin-top: 125px
}

.logo-container {
display: flex;
justify-content: center;
align-items: center;
margin: 10px;
top: 0px;
position: absolute;
}

.logo {
height: 200px;
margin: 0 auto;
}

.question-text {
color: white;
font-size: 24px;
font-weight: bold;
margin-top: 20px;
text-align: center;
max-width: 600px;
}

.new-question {
display: block;
padding-top: 5px;
font-size: 18px;
font-weight: bold;
color: white;
background-color: #007bff;
border: none;
border-radius: 4px;
cursor: pointer;
min-width: 36px;
}

.selected-multiplier {
border: solid 4px yellow;
}

.rules-popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid black;
  padding: 20px;
  z-index: 1000;
  max-width: 85%;
  max-height: 80%;
  overflow: auto;
}
